@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #7b1d1d;
    --branco: #ffffff;
    --preto: #000000;;
    --botao-ativo: #820166;
    --botao-inativo: #820166;
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--preto);
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
    margin-bottom: 20px;
}

.titulo-principal span {
    color: var(--branco);
}

.botoes {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    width: 100%;
    border: none;
    border-bottom: 4px solid var(--botao-ativo);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botao.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--branco);
}

.botao:hover {
    background-color: var(--botao-ativo);
    transform: translateY(-2px);
}

.abas-textos {
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
    width: 100%;
    max-width: 800px;
}

.aba-conteudo {
    display: none;
}

.aba-conteudo.ativo {
    display: block;
}

.aba-conteudo-titulo-principal {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.aba-conteudo-titulo-secundario {
    text-align: center;
    color: var(--branco);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.contador {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.contador-digito {
    text-align: center;
    min-width: 100px;
}

.contador-digito-numero {
    font-size: 80px;
    margin: 0;
}

.contador-digito-texto {
    color: var(--branco);
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
        gap: 8px;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}
